/* montserrat-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/montserrat.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat/montserrat.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/montserrat/montserrat.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat/montserrat.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/montserrat/montserrat.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat/montserrat.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}
