:root {
  /* dark shade color set */

  --dark-shade-hue:           238;
  --dark-shade-100per:        hsla(var(--dark-shade-hue), 35%, 19%, 1);
  --dark-shade-75per:         hsla(var(--dark-shade-hue), 35%, 19%, .75);
  --dark-shade-50per:         hsla(var(--dark-shade-hue), 35%, 19%, .50);
  --dark-shade-25per:         hsla(var(--dark-shade-hue), 35%, 19%, .25);
  --dark-shade-5per:          hsla(var(--dark-shade-hue), 35%, 19%, .05);

  /* purple color set */

  --purple-hue:               259;
  --purple-100per:            hsla(var(--purple-hue), 100%, 81%, 1);
  --purple-75per:            hsla(var(--purple-hue), 100%, 81%, .75);
  --purple-50per:            hsla(var(--purple-hue), 100%, 81%, .50);
  --purple-25per:            hsla(var(--purple-hue), 100%, 81%, .25);
  --purple-5per:            hsla(var(--purple-hue), 100%, 81%, .05);
  --purple-gradient:          linear-gradient(180deg, var(--purple-100per) 0%, #8BA4F9 100%);

  /* green color set */

  --green-hue:                145;
  --green-100per:             hsla(var(--green-hue), 50%, 62%, 1);
  --green-75per:             hsla(var(--green-hue), 50%, 62%, .75);
  --green-50per:             hsla(var(--green-hue), 50%, 62%, .50);
  --green-25per:             hsla(var(--green-hue), 50%, 62%, .25);
  --green-5per:             hsla(var(--green-hue), 50%, 62%, .05);
  --green-gradient:           linear-gradient(180deg, var(--green-100per) 0%, #66D2EA 100%);

  /* red color set */

  --red-hue:                  5;
  --red-100per:               hsla(var(--red-hue), 84%, 40%, 1);
  --red-75per:               hsla(var(--red-hue), 84%, 40%, .75);
  --red-50per:               hsla(var(--red-hue), 84%, 40%, .50);
  --red-25per:               hsla(var(--red-hue), 84%, 40%, .25);
  --red-5per:               hsla(var(--red-hue), 84%, 40%, .05);

  /* custom outline style */

  --outline:                  1px dashed var(--dark-shade-75per); 

  /* box-shadow */

  --shadow:                 0 10px 20px var(--dark-shade-5per);

  /* border */

  --border-dark-shade-75per:  1px solid var(--dark-shade-75per);
  --border-dark-shade-50per:  1px solid var(--dark-shade-50per);
  --border-dark-shade-25per:  1px solid var(--dark-shade-25per);

  /* fonts */

  --primary-font:             normal 1rem "Montserrat", sans-serif;
  --heading-font:             normal 2rem "Montserrat", sans-serif;
}

@media (min-width: 661px) {
  html {
    font-size: 14px;
  } 
}

@media (max-width: 660px) {
  html {
    font-size: 3.7vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}